{% include 'header.html' %}
<br><br><br><br><br><br><br><br>


{% block content %}
{% if user.is_authenticated %}
<body onload="myFunction()">

<script>
function myFunction() {
    alert("Your are logged in already!!");
    window.location = "http://127.0.0.1:8000/";
}
</script>
</body>

{% else %}
  <div class="container">
   
          <h3 class="card-title">Reset your password</h3>
          <p>Check your email for a link to reset your password. If it doesn't appear within a few minutes, check your spam folder.</p>
          <a href="{% url 'login' %}" class="btn btn-primary btn-block">Return to log in</a>
      </div>
      {% endif %}
{% endblock %}