{% include 'header.html' %}
<br><br><br><br><br><br><br><br>

{% block content %}
 {% if user.is_authenticated %}
<body onload="myFunction()">

<script>
function myFunction() {
    alert("Your are logged in already!!");
    window.location = "http://127.0.0.1:8000/";
}
</script>
</body>

{% else %}
  <div class="container">
          <h4>Reset your password</h4>
          <p>Enter your email address and we will send you a link to reset your password.</p>
          <form method="post" novalidate>
            {% csrf_token %}
            {% include 'includes/form.html' %}
            <button type="submit" class="btn btn-primary btn-block">Send password reset email</button>
          </form>
        </div>
      </DIV>
      
        {% endif %}
{% endblock %}
