{% include 'header.html' %}
<br><br><br><br><br><br><br><br>

{% block content %}
   <div class="container">
          {% if validlink %}
            <h4>Change password for {{ form.user.username }}</h4>
            <form method="post" novalidate>
              {% csrf_token %}
              {% include 'includes/form.html' %}
              <button type="submit" class="btn btn-success btn-block">Change password</button>
            </form>
          {% else %}
            <h3 class="card-title">Reset your password</h3>
            <div class="alert alert-danger" role="alert">
              It looks like you clicked on an invalid password reset link. Please try again.
            </div>
            <a href="{% url 'password_reset' %}" class="btn btn-primary btn-block">Request a new password reset link</a>
          {% endif %}
        </div>
{% endblock %}