{% include 'header.html' %}
<br><br><br><br><br><br><br><br>



{% block content %}
{% if user.is_authenticated %}
<body onload="myFunction()">

<script>
function myFunction() {
    alert("Your are logged in already!!");
    window.location = "http://127.0.0.1:8000/";
}
</script>
</body>

{% else %}
  <div class="container">
          <h2>Password changed!</h2>
          <div class="alert alert-success" role="alert">
            You have successfully changed your password! You may now proceed to log in.
          </div>
          <a href="{% url 'login' %}" class="btn btn-secondary btn-block">Return to log in</a>
        </div>
        {% endif %}
{% endblock %}